/* css for professional materials
written by Letty Bedard */


body{
  font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
  color: #777777;
  margin-top: 30px;
  background-image: url("./Images/cork-board.png");
}

div.titlePanel{
  margin-top: 30px;
  border-bottom: 2px solid #666666;
}

.whiteBack{
  background-color: #ffffff;
}

h1 {
  font-family:'Georgia', 'Times New Roman', Times, serif;
  color: #4aaaa5;
}

h3, h4, h5 {
  font-family:'Georgia', 'Times New Roman', Times, serif;
}

h3 {
  color: #4aaaa5;
}

.isHidden{
  display: none;
}

a.contact{
  font-size: x-large;
}

a.contact:visited,a.contact:hover, a.contact:any-link{
  padding: 0 15px;
  text-decoration: none;
  color: #777777;
}

/* #instructions{
  color: #4aaaa5;
  text-align: center;
} */

footer.footerStyle{
  background-color: #666666;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #4aaaa5;
}     

div.footerText{
  color: #ffffff;
  padding-top: 10px;
}

